@import "compass/reset";
@import "compass/css3";

$blue: #0897e2;
$red: #dc3a34;
$gray: #999;
$white: #f4f4f4;
$black: black;
$dark: lighten($black, 10%);
$light: darken($white, 1%);
$green: rgb(116, 175, 63);
$menuBg: rgb(191, 178, 114);

* { box-sizing: border-box; cursor: default; } /* Awesome! */

body {
    background: white;
    color: $black;
    font-family: 'Raleway', sans-serif;
    padding-top: 40px;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin-bottom: 12px;
}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

p {
    margin-bottom: 5px;
}

a {
    color: $black;
}

strong { font-weight: 500; }
pre {white-space: pre;}

.sb-site {
    height: 100% !important;
}

#actions {
    background: lighten($black, 12%);
    padding: 10px 10px;
    text-align: center;
    color: $light;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    ul {
        float: left;
        cursor: default;
    }
    ul li {
        display: inline-block;
        cursor: default;
    }

    .title {
        font-size: 13px;
        cursor: default;
        display: inline-block;
        margin: 0;
        margin-left: -100px;
        opacity: .75;
    }
}

#actions .close-app,
#actions .minimize-app,
#actions .maximize-app {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin: 0 2px;
    display: block;
    cursor: default;
    @include box-shadow(inset rgba(0,0,0,.7) 1px 1px 3px);
    @include transition(.4s linear box-shadow);

    &:hover {
        @include box-shadow(none);
    }
}

.play {
    background: $blue !important;
}

.close-app:hover {
    background: #ff403d;
}

.minimize-app:hover {
    background: #e1ec17;
}

.maximize-app:hover {
    background: yellowgreen;
}

#logo {
    font-weight: 200;
    text-transform: uppercase;
}

.welcome-small {
    position: absolute;
    right: 8px;
    top: 12px;
    opacity: .2;
    h1 { font-size: 14px; margin: 0; cursor: default; }
    @include transition(.3s linear all);
    &:hover {
        opacity: .9;
    }
}

#status {
    position: fixed;
    bottom: 0;
    height: 20px;
    background: black;
    left: 0;
    right: 0;
    font-size: 12px;
    padding: 5px 10px;
    color: darken(#eee, 10%);
    z-index: 99999;
}

.actions {
    width: 150px;
    background: lighten($black, 12%);
    float: left;
    li {
        width: 150px;
        padding: 9px 10px;
        a {
            color: white;
            font-weight: 200;
            text-decoration: none;
        }
        &:hover {
            background: $dark;
            a {
                color: $blue;
            }
        }
    }
}

a.right {
    float: right;
    color: white;
}

.data {
    font-family: Consolas,monospace;
}

.info { color: $blue; }
.error { color: $red; }
.success { color: yellowGreen; }

#content {
    padding-top: 40px;
    text-align: center;
    overflow: hidden;
    height: 100%;

    h1 {
        font-size: 100px;
    }
}

.join-code {
    background: rgb(116, 175, 63);
    width: 200px;
    font-size: 30px;
    padding: 20px 0;
    margin: 30px auto;
    color: $black;
}

.client {
    border: 3px solid $black;
    border-radius: 12px;
    // width: 150px;
    margin: auto 4px;
    padding: 12px;
    display: inline-block;
    
    i {
        font-size: 80px;
        color: lighten(black, 20%);
    }

    small {
        font-size: .6em;
        padding: 6px 0;
        display: block;
    }

    img {
        width: 120px;
    }
}

.waiting {
    opacity: .5;
}

.sb-slidebar {
    background: $menuBg !important;
    padding: 36px 0 !important;

    .menu > li {
        text-align: center;
        
        a {
            text-decoration: none;
            padding: 20px 20px;
            font-size: 20px;
            display: block;
            &:hover {
                background: darken($menuBg, 10%);
            }
        }
    }
    .active {
        background: darken($menuBg, 10%);
    }

    .input-block {
        display: block;
        width: 100%;
        outline: none;
        padding: 5px 0;
        background: $menuBg;
        border: none;
        font-size: 16px;
        text-align: left;

        input[type=text]{
            margin: auto;
            outline: none;
            padding: 0;
            text-align: left;
            background: none;
            border: none;
            border-bottom: 1px dashed $dark;
            font-size: 16px;
            width: 140px;
        }


        &:hover,
        &:focus {
            background: darken($menuBg, 10%);
        }
        button {
            border: none;
            background: none;
            font-size: 16px;
            outline: 0;
        }

        label {
            width: 100px;
            display: inline-block;
            text-align: right;
            margin-right: 10px;
        }
        
    }
    ::-webkit-input-placeholder {
       color: black;
    }
}
.short {
    width: 53px !important;
}

.start-room {
    input[type=text] {
        font-size: 40px;
        padding: 6px 4px;
        outline: 0;
        background: white;
        color: black;
        font-weight: 100;
        border: 0;
        margin: 40px 0 0 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
        text-align: center;
    }

    input[type=submit] {
        border: 0;
        background: $blue;
        color: $white;
        padding: 20px;
        font-size: 20px;
        margin: 40px;
    }
}

#pauseMsg {
    background: rgba(0, 0, 0, .8);
    color: white;
    text-align: center;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 99999999999;
    padding-top: 160px;
    display: none;
}