<h1>Reino<br>Aritmético</h1>
<p>Ingresa el codigo para entrar al juego:</p>
<p class="join-code">
    {{ joinCode }}
</p>

<div id="clients">
    <div class="client" ng-repeat="client in clients track by $index">
        <i class="fa fa-male"></i> <br>
        <small>Jugador {{ $index + 1 }}</small>
        <span class="player">{{ client.name }}</span>
    </div>
    <div class="client waiting" ng-repeat="i in [] | range: (totalPlayers - clients.length)">
        <i class="fa fa-male"></i> <br>
        <small>Jugador 4</small> 
        <span class="player">Esperando&hellip;</span>
    </div>
</div>