<div class="paused" ng-show="pauseGame">
  El juego ha sido pausado.
  <br>
  <i class="fa fa-spinner fa-spin"></i>
  <br> <br><br>

  <a href="#/" class="btn btn-info btn-s">Detener Misión</a>
  <a class="btn btn-success btn-s" ng-click="pauseGame = ! pauseGame">Seguir</a>
</div>

<div class="paused" ng-show="match.waitingForFallen.length > 0">
  El juego ha sido pausado, esperando a <span ng-repeat="fallen in match.waitingForFallen track by $index">{{ fallen.name }}{{ $index + 1 < match.waitingForFallen.length ? ', ' : ''}}</span> <br>
  <br>
  <i class="fa fa-spinner fa-spin"></i>
  <br> <br><br>

  <a href="#/" class="btn btn-info btn-s">Detener Misión</a>
</div>

<div class="paused" ng-show="an">
  Han atrapado a <span ng-repeat="trapped in match.wrong_players track by $index">{{ trapped.name }}</span>. ¡Ve en su ayuda! <br>
  <br>
  <i class="fa fa-spinner fa-spin"></i>
  <br> <br><br>

  <a href="#/" class="btn btn-info btn-s">Detener Misión</a>
</div>

<div class="paused" ng-show="defendYourselvs">
  ¡Rápido, Defiendanse! Los están atacando...<br>
  <br>
  <i class="fa fa-spinner fa-spin"></i>
  <br> <br><br>
  <a href="#/" class="btn btn-info btn-s">Detener Misión</a>
</div>



<div class="row" ng-show="match.waiting" id="loading">
  <div class="col-md-6 col-md-offset-3">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-center">Cargando el juego</h1>
    <div class="progress">
        <div class="progress-bar" id="loading-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
  </div>
</div>
<div ng-show=" ! match.playing && gameEnded">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <a href="#/" class="btn btn-text btn-xs">Volver</a>
      <h3 class="page-header">Resultados</h3>

      <div class="game-info">
        <p>
          Tiempo: <timer interval="1000">{{mminutes}}:{{sseconds}}</timer> <br>
          Tiempo Promedio de respuesta: {{ averageTime() | number : 3 }}
        </p>

      <div class="alert alert-info" ng-show=" ! match.playing && match.waitingForFallen.length === 0">
        <strong>La misión ha terminado</strong> Han ganado {{ match.reward }} monedas cada uno.
      </div>
      <div  class="game-log">
        <div ng-repeat="answer in match.answers | reverse track by $index">
          <p>{{ match.answers.length - $index }}. {{ answer.player_name }} contesto {{ answer.answer == answer.correct_answer ? 'correctamente' : 'equivocadamente' }} {{ answer.problem }} = {{ answer.answer }} <i class="fa fa-{{ answer.answer == answer.correct_answer ? 'check' : 'times' }}"></i> <span class="timestamp pull-right">{{ answer.elapsed_time | number : 3}}s</span></p>
        </div>
      </div>
    </div>
  </div>
</div>