<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <a href="#/" class="btn btn-text btn-xs">Atrás</a>
    <h3 class="page-header">Game Log</h3>
    <div class="alert alert-info" ng-show=" ! match.playing && match.waitingForFallen.length === 0">
      <a type="button" href="#/" class="close" >&times;</a>
      <strong>El quest ha terminado</strong> Han ganado!!!!
    </div>
    <div ng-repeat="player in match.players">
      <div ng-repeat="answer in player.answers">
        <p><i class="fa fa-male"></i> {{ player.name }} contesto {{ answer.answer == answer.correct_answer ? 'correctamente' : 'equivocadamente' }} {{ answer.problem }} = {{ answer.answer }} <i class="fa fa-{{ answer.answer == answer.correct_answer ? 'check' : 'times' }}"></i> <span class="timestamp">{{ answer.elapsed_time }}</span></p>
      </div>
    </div>
  </div>
</div>